################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/businesslogic/quizapp.api/.vs
/businesslogic/quizapp.api/quizapp.api/bin/Debug/net6.0
/businesslogic/quizapp.api/quizapp.api/obj
